.sidebar-item {
  cursor: pointer;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 5px;
}

.project-item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.project-content {
  display: flex;
  gap: 5px;
  align-items: center;
}

.project-indicator {
  height: 16px;
  width: 16px;
  margin: 2px;

  background-color: black;
  border-radius: 3px;
}

.project-input {
  width: 100%;
}

.project-delete-icon {
  height: 20px;
  width: 20px;
  margin: 5px;

  visibility: hidden;
}

.project-item:hover .project-delete-icon {
  visibility: visible;
}

.add-project {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.add-project-icon {
  height: 20px;
  width: 20px;
}
