.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 5px;
}

.project-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.project-indicator {
  height: 16px;
  width: 16px;
  margin: 2px;

  background-color: black;
  border-radius: 3px;
}

.add-project {
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-project-icon {
  height: 20px;
  width: 20px;
}
